$console-bg-color: #333;
$console-result-color: #FF3D7F;
$console-command-color: #9061C2;

%code {
  margin: 20px;
  padding: 5px;
  width: 40%;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.8em;
  color: $console-result-color;
  background: $console-bg-color;
}

#console {
  @extend %code;
  height: 400px;
  margin-bottom: 8px;
  overflow-y: scroll;
  white-space: pre-wrap;

  .command {
    color: $console-command-color;
  }

  .result {
    color: $console-result-color;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $console-bg-color;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
  }
  &:hover::-webkit-scrollbar-thumb {
    border-color: rgba($console-result-color,0.6);
  }
}

.command-line {
  @extend %code;
  margin-top: 0;
  height: 2em;
  position: relative;

  label {
    position: absolute;
    font-size: 1.1em;
    top: 0.1em;
    left: 0.5em;
  }

  input[type=text].command-line {
    @extend %code;
    position: absolute;
    height: 2em;
    width: 95%;
    top: -2em;
    left: -0.5em;

    &::selection {
      color: $console-bg-color;
      background: $console-result-color;
    }
  }
}
